<button type="submit"
        ng-click="list()"
        class="btn btn-info btn-sm">Retour à la liste</button>

<h2>{(module.package.name | jhiModuleFilter)}</h2>

<i><p>par <a href="{(module.npminfo.author.url)}" target="_blank" rel="noopener">{(module.npminfo.author.name)}</a>(<a href="https://www.npmjs.com/~{(module.npminfo._npmUser.name)}" target="_blank" rel="noopener">{(module.npminfo._npmUser.name)}</a>)</i>
<i><p>Maintenu par {(module.npminfo.maintainers | jhiAuthorFilter)}</i>
<p>
    Dernière version: {(module.npminfo.version)}
</p>
<p ng-if="!readmeFile">
{(module.npminfo.description)}
</p>

<h3>Compatibilité avec la version de JHipster</h3>
<p>
    Ce module fonctionne avec la version de JHipster : <b>{(module.npminfo.dependencies['generator-jhipster'])}</b>
</p>

<h3>Liens</h3>
<ul>
    <li><a href="{(module.npminfo.homepage)}" target="_blank" rel="noopener">URL du projet</a></li>
    <li><a href="https://www.npmjs.com/package/{(npmPackageName)}" target="_blank" rel="noopener">Page du package NPM</a></li>
</ul>
<div ng-if="!readmeFile">
	<h3>Comment installer</h3>
	<pre>npm install -g {(npmPackageName)}</pre>
</div>
<hr>
<div btf-markdown="readmeFile"></div>
<hr>
<h3>Téléchargements du dernier mois</h3>

<div id="chart"></div>
