@use '@site/src/scss/breakpoints' as *;

.section {
  background-color: var(--ifm-color-primary-darker);
  color: #ffffff;

  &List {
    list-style: none;
    padding-left: 0;
    margin-top: 2.5rem;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    height: 150px;

    & > li {
      width: calc(100% / 2);
    }
  }
}

.card {
  background-color: #ffffff;
}

.cardMock {
  background-color: var(--ifm-color-primary);
  border: 1px dashed #ffffff;

  &Body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
  }
}

@media (min-width: $lg-screen) {
  .section {
    &List {
      & > li {
        width: calc(100% / 5);
      }
    }
  }
}
