@use '@site/src/scss/breakpoints' as *;

.section {
  list-style: none;
  padding-left: 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

@media (min-width: $lg-screen) {
  .section {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
