.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

  &Title {
    font-size: 3rem;
    line-height: 1;
    font-weight: 800;
  }

  &Description {
    font-size: 1.125rem;
    line-height: 1.5rem;
    font-weight: 500;
  }
}
