@use '@site/src/scss/breakpoints' as *;

.section {
  &List {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;

    & > a {
      width: calc((100% - 3 * 32px) / 4);
    }
  }
}

.card {
  background-color: #ffffff;
  padding: 0.75rem;

  &Image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;

    > img {
      object-fit: contain;
    }
  }
}

@media (min-width: $md-screen) {
  .section {
    &List {
      & > a {
        width: calc((100% - 5 * 32px) / 6);
      }
    }
  }
}

@media (min-width: $lg-screen) {
  .section {
    &List {
      & > a {
        width: calc((100% - 8 * 32px) / 9);
      }
    }
  }
}
