@use '@site/src/scss/breakpoints' as *;

.list {
  margin-top: 2.5rem;
  list-style: none;
  padding-left: 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

.card {
  &Icon {
    height: 1.25rem;
    width: 1.25rem;
    color: var(--ifm-color-primary);
  }
}

@media (min-width: $md-screen) {
  .list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: $xl-screen) {
  .list {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
