@use '@site/src/scss/breakpoints' as *;

.section {
  padding: 5rem 0;
  background-color: var(--ifm-color-primary-dark);
  color: #ffffff;

  &List {
    list-style: none;
    padding-left: 0;
    margin-top: 2.5rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;

    > li {
      margin: 0 !important;
    }
  }
}

@media (min-width: $lg-screen) {
  .section {
    &List {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
}
