@use '@site/src/scss/breakpoints' as *;

.card {
  background-color: var(--ifm-color-primary);
  color: #ffffff;

  a {
    color: inherit;
  }

  &Header {
    > h3 {
      margin-bottom: 0;
    }

    > p {
      font-weight: 500;
    }
  }

  &Author {
    display: flex;
    align-items: center;
    gap: 0.375rem;
  }

  &Body {
    > p {
      margin-bottom: 0.25rem;
      font-size: 0.875rem;
      line-height: 1.25rem;
      font-weight: 500;
    }
  }

  &Keywords {
    list-style: none;
    padding-left: 0;
    margin-top: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;

    > li {
      margin: 0 !important;
    }
  }

  &Footer {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &Date {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 0.375rem;
  }

  &Buttons {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}

@media (min-width: $md-screen) {
  .card {
    &Footer {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }
}
