<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ page.title }}</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="css/sb-admin.css" rel="stylesheet">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
  </head>

  <body>

    <div id="wrapper">

      <!-- Sidebar -->
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">JHipster</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav side-nav">
            <li><a href="index.html"><i class="fa fa-home"></i> Home</a></li>
            <li><a href="releases.html"><i class="fa fa-file-text-o"></i> Release notes</a></li>
            <li><a href="screenshots.html"><i class="fa fa-picture-o"></i> Screenshots</a></li>
            <li><a href="tech_stack.html"><i class="fa fa-stack-overflow"></i> Technology stack</a></li>
            <li><a href="installation.html"><i class="fa fa-cloud-download"></i> Installation</a></li>
            <li><a href="typography.html"><i class="fa fa-rocket"></i> Creating an application</a></li>
            <li><a href="profiles.html"><i class="fa fa-users"></i> Profiles</a></li>
            <li><a href="development.html"><i class="fa fa-code"></i> Usage in development</a></li>
            <li><a href="production.html"><i class="fa fa-play-circle"></i> Usage in production</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right navbar-user">
            <li><a href="https://github.com/jhipster/generator-jhipster" target="_blank"><i class="fa fa-github"></i> Github</a></li>
            <li><a href="https://twitter.com/java_hipster" target="_blank"><i class="fa fa-twitter"></i> Twitter</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </nav>

      <div id="page-wrapper">
        <div class="row">
          <div class="col-lg-12">
            {{ content }}
            </div>
        </div><!-- /.row -->
      </div><!-- /#page-wrapper -->

    </div><!-- /#wrapper -->

    <!-- JavaScript -->
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.js"></script>

  </body>
</html>
