@use '@site/src/scss/breakpoints' as *;

.section {
  background-color: var(--ifm-color-primary-darker);
  color: #ffffff;

  &List {
    margin-top: 2.5rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }

  &Buttons {
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
}

.card {
  background-color: var(--ifm-color-primary);
  color: #ffffff;

  &:hover {
    color: inherit;
    text-decoration: none;
  }

  &Description {
    display: flex;
    align-items: center;
    gap: 0.375rem;
  }
}

@media (min-width: $md-screen) {
  .section {
    &List {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    &Buttons {
      flex-direction: row;
    }
  }
}

@media (min-width: $lg-screen) {
  .section {
    &List {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
}
